*.dat
asm
assets
config/VanillaMagic
crash-reports
downloads
logs
mods
resourcepacks
resources
saves
screenshots
server-resource-packs
VanillaMagic
.curseclient
minecraftinstance.json
usercache.json
usernamecache.json
options.txt
